/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600&display=swap');

/* Variables */
:root {
  /* colors */
  --black: #000000;
  --white: #fef0d0;
  --yellow: #fed16a;
  --brown: #ef793b;
  --dark-brown: #931b0a;
  --shadow-brown: #b43e21;

  /* shadow */
  --button-shadow: 4px 4px 0px 0px #b43e21, 4px 0px 0px 0px #b43e21,
    0px 4px 0px 0px #b43e21;
  --board-shadow: 0px 0px 0px 4px #931b0a, -8px 8px 0px 0px #b43e21 inset;

  /* font */
  --pixel: 'Pixelify Sans', sans-serif;
}

/* Resetting margins and paddings */
* {
  margin: 0;
  padding: 0;
}

/* MAIN */
main {
  width: 100vw;
  height: 100vh;

  background-image: url('../img/floor/grass-animated.gif');
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--pixel);
}

/* BUTTONS */
.primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  padding: 8px 16px;

  font-family: var(--pixel);
  font-size: 18px;
  font-weight: 600;

  color: var(--black);
  background-color: var(--yellow);

  border: 5px solid var(--dark-brown);

  box-shadow: var(--button-shadow);
}

.primary > img {
  width: 50px;
}

/* TITLES */
.title {
  /* hiding h1 in an accessible way */
  position: absolute;
  width: 0;
  height: 0;
  left: -10000px;
  top: -10000px;
}

.subtitle {
  font-size: 32px;
  font-weight: 600;
}

/* LOGO */
.logo {
  height: 20vh;

  position: absolute;

  top: 5vh;
}

.logo.game {
  position: static;
  height: 100px;
}

/* BOARDS */
.board {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--brown);
  border: 4px solid var(--yellow);
  box-shadow: var(--board-shadow);
}

.big {
  width: 70vw;
  height: 70vh;

  flex-direction: column;
  justify-content: flex-end;

  padding: 56px 206px;
}

.small {
  gap: 8px;
  padding: 16px 16px 13px 16px;

  width: 200px;
}

/* MAIN SCREEN */
.players {
  display: flex;
  gap: 16px;
}

/* STATS */
.top-stats {
  position: relative;

  width: 75vw;

  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1;
}

#stats {
  display: flex;
  align-items: center;
  gap: 16px;
}

.lives {
  display: flex;
  flex-direction: row-reverse;
  gap: 4px;
}

.lives img {
  width: 20px;
}

/* INTRO SCREEN */
/* GAME CONTAINER */
#game-container {
  display: none;
  flex-direction: column;
  align-items: center;
}

#game-screen {
  position: relative;

  top: -40px;

  /* source | slice | width | outset | repeat */
  border-image-source: url('../img/floor/game-floor2.jpg');
  border-image-slice: 40 fill;
  border-image-width: 40px;
  border-image-outset: 40px;
  border-image-repeat: repeat;
}

/* END SCREEN */
#end-screen {
  display: none;
}
